.card {
  max-width: 380px;
  height: 635px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.videoWrapper {
  flex-grow: 1;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background-color: #e9cbb2;
  }
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
}