.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  background-color: white;
  padding: 2rem;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 200px;
}

.deliveryBike {
  width: 100px;
  height: auto;
  margin: 1rem auto;
}

.loadingContainer {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.recieptImage {
  width: 150px;
  height: auto;
  margin-right: 1rem;
}

.linearProgress {
  width: 100%;
}


.confirmationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmationText {
  text-align: left;
  margin-bottom: 1rem;
}

.textFieldWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
}
