body {
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  color: #161713;
}

/* Set the font size and font family for heading elements */
h1 {
  font-size: 64px;
  font-family: "Outfit Bold", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-family: "Outfit Bold", sans-serif;
  font-weight: 700;
}

p {
  font-size: 1.25rem;
  font-family: "Outfit Light", sans-serif;;
  font-weight: 300;
}
