$background-color: #fff1d9;
$ellipse-color: #ffb703;

.wrapper {
  overflow: hidden;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 400px;
}

.heroContent {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-image: url("../assets/footage/leafs-figma.png");
  background-repeat: no-repeat;
  background-size: auto 100%; 
}

.heroText {
  text-align: start;
  padding-left: 160px;
  padding-top: 160px;
  z-index: 4;
  max-width: 449px;

  h1 {
    margin: 0;
  }

  p {
    font-size: 24px;
    margin: 0;
  }
}

.collection {
  position: relative;
  width: 100%;
  z-index: 2;
}

.collection img {
  position: absolute;
  z-index: 3;
  height: 90%;
  right: 10%;
  top: 50%;
}

.ellipse,
.ellipseTwin {
  position: absolute;
  width: 100px;
  height: 200px;
  background-color: $ellipse-color;
  border-radius: 50px 50px 0 0;
  transform: rotate(-135deg) scale(7);
  right: 10%;
  top: 30%;
}

.ellipseTwin {
  top: calc(30% + 22px);
  right: calc(10% - 32px);
  opacity: 0.5;
}