$ellipse-color: #ffb703;

.wrapper {
  overflow: hidden;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 400px;
}

.heroContent {
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  justify-content: space-between;
  position: relative;
  background-image: url("../assets/footage/leafs-figma.png");
  background-repeat: no-repeat;
  background-size: auto 100%;

  @media (max-width: 1043px) {
    background-image: none;
  }
}

.heroText {
  text-align: start;
  padding-left: 160px;
  padding-top: 160px;
  z-index: 4;
  max-width: 449px;

  @media (max-width: 1043px) {
    padding-left: 2%;
  }

  h1 {
    margin: 0;
    @media (max-width: 715px) {
      font-size: 3.3rem;
    }
  }

  p {
    font-size: 24px;
    margin: 0;
  }
}

.collection {
  position: relative;
  width: 100%;
  z-index: 2;

  &:hover {
    .ellipse,
    .ellipseTwin {
      transform: rotate(-135deg) scale(7) translateY(-10px);
      transition-delay: 100ms;
    }

    .ellipseTwin {
      transition-delay: 150ms;
    }

    img {
      transform: rotate(-5deg);
      transition-delay: 200ms;
    }

    @media (max-width: 1240px) {
      .ellipse,
      .ellipseTwin {
        transform: rotate(-135deg) scale(5) translateY(-10px);
      }
    }

    @media (max-width: 920px) {
      .ellipse,
      .ellipseTwin {
        transform: rotate(-135deg) scale(4) translateY(-10px);
      }
    }
  }
}

.collection img {
  position: absolute;
  z-index: 3;
  height: 90%;
  right: 10%;
  top: 45%;
  transition: transform 0.5s;

  @media (max-width: 1240px) {
    height: 70%;
  }

  @media (max-width: 920px) {
    height: 55%;
  }

  @media (max-width: 800px) {
    display: none;
  }
}

.ellipse,
.ellipseTwin {
  position: absolute;
  width: 100px;
  height: 200px;
  background-color: $ellipse-color;
  border-radius: 50px 50px 0 0;
  transform: rotate(-135deg) scale(7);
  transition: transform 0.5s;
  right: 10%;
  top: 30%;

  @media (max-width: 800px) {
    display: none;
  }
}

.ellipseTwin {
  top: calc(30% + 22px);
  right: calc(10% - 32px);
  opacity: 0.5;
}

@media (max-width: 1240px) {
  .ellipse,
  .ellipseTwin {
    transform: rotate(-135deg) scale(5);
  }
}

@media (max-width: 920px) {
  .ellipse,
  .ellipseTwin {
    transform: rotate(-135deg) scale(4);
  }
}
