.menuSelection {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.categoryText {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  margin-top: 2rem;
  text-align: left;
}


.menuSelectionWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}