.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 270px;
}
.content {
  text-align: center;
  max-width: 550px;

  h2 {
    padding-top: 130px;
    font-size: 4rem;
    margin: 0;
  }
}
