.App {
  text-align: center;
}

.Navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.bg-color {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 86%;
  background-color: #fff1d9;
}

.home-section {
  position: relative;
  z-index: 2;
}

.about-section {
  position: relative;
  z-index: 1;
  margin-top: -140px;
  background-color: #fffaf0;
  width: 100%;
}